body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.h-content{
    max-height: 89vh;
}


.rounded-big{
    border-radius: 5px;
}

.post-size{
    min-height: 40vh;
}

.btn-bottom{  
    text-align: center;
    display: flex;
    position: absolute;
    width: 100%;
    align-self: flex-end!important;
}

.blackNwhite{
    margin-top: 50%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
}